<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="TorqueDb"
			 connectionString="Data Source=localhost;Initial Catalog=TorqueDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- 扫码枪串口配置 -->
		<add key="ScanPortName" value="COM3" />
		<add key="ScanBaudRate" value="9600" />

		<!-- 扭矩参数 -->
		<add key="TorqueMin" value="10" />
		<add key="TorqueMax" value="20" />
	</appSettings>

</configuration>

